USE [Reg]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 29-07-2025 11:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ContactNumber] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Token] [nvarchar](100) NULL,
	[TokenExpiry] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckInLog]    Script Date: 29-07-2025 11:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckInLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[DetailId] [int] NOT NULL,
	[BadgeId] [nvarchar](50) NOT NULL,
	[CheckInTime] [datetime] NOT NULL,
	[CheckOutAt] [datetime] NULL,
	[BadgeType] [nvarchar](50) NULL,
	[ExpiryTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 29-07-2025 11:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Message] [nvarchar](max) NULL,
	[SubmittedAt] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Details]    Script Date: 29-07-2025 11:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Details](
	[DetailId] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[Mobile] [nvarchar](20) NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[ProofType] [nvarchar](50) NULL,
	[ProofNumber] [nvarchar](50) NULL,
	[UploadPhotoPath] [nvarchar](200) NULL,
	[VisitingTime] [nvarchar](50) NULL,
	[VisitingPurpose] [nvarchar](200) NULL,
	[Department] [nvarchar](100) NULL,
	[PersonToMeet] [nvarchar](100) NULL,
	[Item] [nvarchar](100) NULL,
	[SerialNumber] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[WithVehicle] [nvarchar](10) NULL,
	[VehicleNumber] [nvarchar](50) NULL,
	[LicenseValidity] [nvarchar](50) NULL,
	[DriverLicenseNumber] [nvarchar](50) NULL,
	[VehicleName] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29-07-2025 11:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Contact] [nvarchar](20) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Aadhar] [nvarchar](20) NOT NULL,
	[PhotoPath] [nvarchar](255) NULL,
	[ResetToken] [nvarchar](100) NULL,
	[TokenExpiry] [datetime] NULL,
	[Designation] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[CheckInLog] ADD  DEFAULT (getdate()) FOR [CheckInTime]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT ('Unread') FOR [Status]
GO
ALTER TABLE [dbo].[Details] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Details] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [Designation]
GO
ALTER TABLE [dbo].[CheckInLog]  WITH CHECK ADD  CONSTRAINT [FK_CheckInLog_Details] FOREIGN KEY([DetailId])
REFERENCES [dbo].[Details] ([DetailId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CheckInLog] CHECK CONSTRAINT [FK_CheckInLog_Details]
GO
ALTER TABLE [dbo].[Details]  WITH CHECK ADD  CONSTRAINT [FK_Details_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([BookId])
GO
ALTER TABLE [dbo].[Details] CHECK CONSTRAINT [FK_Details_Book]
GO
/****** Object:  StoredProcedure [dbo].[InsertAppointment]    Script Date: 29-07-2025 11:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertAppointment]
    @FullName NVARCHAR(100),
    @Contact NVARCHAR(20),
    @EmailId NVARCHAR(100),
    @Reason NVARCHAR(250),
    @PhotoPath NVARCHAR(200)
AS
BEGIN
    INSERT INTO Appointments (
        FullName, 
        Contact, 
        EmailId, 
        Reason, 
        PhotoPath, 
        RequestDate
    )
    VALUES (
        @FullName, 
        @Contact, 
        @EmailId, 
        @Reason, 
        @PhotoPath, 
        GETDATE()
    );
END
GO
/****** Object:  StoredProcedure [dbo].[User_Registration]    Script Date: 29-07-2025 11:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Registration]
    @UserId INT,
    @FullName NVARCHAR(100),
    @Contact NVARCHAR(20),
    @Username NVARCHAR(50),
    @Password NVARCHAR(100),
    @Email NVARCHAR(100),
    @Aadhar NVARCHAR(20),
    @PhotoPath NVARCHAR(255),
    @Designation NVARCHAR(50)
AS
BEGIN
    INSERT INTO Users (FullName, Contact, Username, Password, Email, Aadhar, PhotoPath, Designation)
    VALUES (@FullName, @Contact, @Username, @Password, @Email, @Aadhar, @PhotoPath, @Designation)
END
GO
